.sidebar {
  width: 7.5rem;
  position: fixed;
  height: 100vh;

  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 24px;
  color: #343a40;
  font-weight: 500;
  a:hover {
    color: #ff982e;
  }
}
