@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #343a40;
}

h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

p {
  font-size: 1.3rem;
  line-height: 1.5;
}

span {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: #ff982e;
  color: white;
  font-size: 1.5rem;
  border-radius: 15px;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main {
  margin-left: 7.5rem;
  background-color: #f6f7f8;
}

.title {
  display: inline-block;
  h1 {
    display: flex;
    flex-direction: column;
    &::after {
      content: "";
      width: inherit;
      height: 0.6rem;
      background-color: #ff982e;
      border-radius: 1rem;
    }
  }
}

/* SIDEBAR */

.sidebar {
  width: 7.5rem;
  position: fixed;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 24px;
  color: #343a40;
  font-weight: 500;
  a:hover {
    color: #ff982e;
  }
}

.nav_item__active {
  color: #ff982e;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    background-color: #ff982e;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
